# Ignore virtual environments
venv/
.env/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore log and database files
*.log
*.sqlite3

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment-specific configuration files
.env
config.json
